body {
  background-color: whitesmoke;
  line-height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: black;
  color: white;
  padding: 3px 3px;
  border-radius: 4px;
  border: 1px solid orange;
}

h1,
h2,
h3 {
  text-align: center;
  background-color: black;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px 4px;
  border: 1px solid orange;
  border-radius: 5px;
  text-transform: capitalize;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
nav ul li {
  border: 1px solid rgb(255, 162, 0);
  padding: 2px 3px;
  border-radius: 5px;
  background-color: orange;
  text-transform: capitalize;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
}

nav ul li:hover,
nav ul li a:hover {
  cursor: pointer;
  background-color: orangered;
  color: white;
}
#menus,
#team {
  margin: 0 auto;
  padding: 1.2em;
  height: 400px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(249, 71, 6, 0.946);
  border-radius: 5px;
}

#menus img,
#team img {
  border: 2px solid rgb(255, 162, 0);
  border-radius: 5px;
}
#menus img:hover {
  transform: scale(150%);
}

#marketing {
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px;
  grid-gap: 10px;
  background-color: rgba(249, 71, 6, 0.946);
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*display: block;
  margin: 0 auto;*/
}
#marketing img {
  padding: 0;
  margin: 0 auto;
  width: 170px;
  height: 170px;
  position: relative;
  left: 50px;
  border: 2px solid rgb(255, 162, 0);
  border-radius: 5%;
}
#directions a {
  text-decoration: none;
  border: 1px solid orange;
  background-color: orange;
  color: black;
  padding: 3px 3px;
  border-radius: 5px;
  text-transform: capitalize;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.227);
}
#directions a:hover {
  background-color: orangered;
  color: white;
}
#extras {
  display: flex;
  justify-content: space-between;
}
#extras ul {
  border-right: 2px solid orange;
}
#extras ul li {
  list-style-type: square;
  margin: 1em;
  font-weight: 600;
}
#benefits-visuals {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}
#benefits-visuals img {
  width: 125px;
  height: 125px;
  border: 1px solid orange;
  border-radius: 50%;
}
.comment-box {
  width: 200px;
  height: 100px;
  border: 1px solid olivedrab;
  background-color: blanchedalmond;
  font-style: italic;
  border-radius: 5px;
}
#feedback-button {
  border: 1px solid orange;
  border-radius: 5px;
  font-size: 1em;
  background-color: orangered;
  color: white;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.227);
}
#feedback-button:hover {
  cursor: pointer;
}
