* {
  scroll-behavior: smooth;
}
:root {
  --border: 1px solid orange;
  --border-radius: 2px;
  --background-color: orangered;
  --color: white;
  --title-background: black;
  --button-background: orange;
}
body {
  background-color: whitesmoke;
  line-height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: var(--title-background);
  color: var(--color);
  padding: 3px 3px;
  border-radius: var(--border-radius);
}
img.logo {
  width: 110px;
  height: 100px;
  border-radius: 50%;
  margin-right: 1.2em;
}
h1,
h2,
h3 {
  text-align: center;
  background-color: var(--title-background);
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px 4px;
  border-radius: var(--border-radius);
  text-transform: capitalize;
}
.business-header {
  display: flex;
  justify-content: center;
}
h1 {
  border: none;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
nav ul li {
  border: var(--border);
  padding: 2px 3px;
  border-radius: var(--border-radius);
  background-color: var(--button-background);
  text-transform: capitalize;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
}

nav ul li:hover,
nav ul li a:hover {
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--color);
}
#menus,
#team {
  margin: 0 auto;
  padding: 1.2em;
  height: 400px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

#menus img,
#team img {
  border: var(--border);
  border-radius: var(--border-radius);
}
#menus img:hover {
  transform: scale(150%);
}

#marketing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 5px;
  column-gap: 0;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  padding-top: 10px;
  padding-bottom: 10px;
}
#marketing img {
  padding: 0;
  margin: 0 auto;
  width: 170px;
  height: 170px;
  border: var(--border);
  border-radius: var(--border-radius);
}
#directions a {
  text-decoration: none;
  border: var(--border);
  background-color: var(--button-background);
  color: black;
  padding: 3px 3px;
  border-radius: var(--border-radius);
  text-transform: capitalize;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.227);
}
#directions a:hover {
  background-color: var(--background-color);
  color: var(--color);
}
#extras {
  display: flex;
  justify-content: space-between;
}
#extras ul {
  border-right: var(--border);
}
#extras ul li {
  list-style-type: square;
  margin: 1em;
  font-weight: 600;
}
#benefits-visuals {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}
#benefits-visuals img {
  width: 125px;
  height: 125px;
  border: var(--border);
  border-radius: 50%;
}

.comment-box {
  width: 200px;
  height: 100px;
  border: 1px solid olivedrab;
  background-color: blanchedalmond;
  font-style: italic;
  border-radius: var(--border-radius);
}
#feedback-button {
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: 1em;
  background-color: var(--background-color);
  color: var(--color);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.227);
}
#feedback-button:hover {
  cursor: pointer;
}
i.small {
  font-weight: 100;
}
input {
  width: 8em;
  height: 1.5em;
  margin: 5px;
  border: var(--border);
  border-radius: var(--border-radius);
}
textarea {
  width: 14em;
  height: 4em;
  border: var(--border);
  border-radius: var(--border-radius);
}
